@import "tailwindcss";

@theme {
  --color-primary: #13ec5b;
  --color-primary-dark: #0fb645;
  --color-background-light: #f6f8f6;
  --color-background-dark: #102216;
  --color-surface-dark: #1a3325;
  --color-surface-dark-hover: #23482f;
  --color-border-dark: #2a5436;
  --color-text-secondary: #92c9a4;

  --font-display: var(--font-lexend);
}

@layer base {
  .material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  @keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
  }
  .animate-marquee {
    animation: marquee 20s linear infinite;
  }
}
